.question-list-item {
	display: table;
	border-bottom: 1px solid silver;
	cursor: pointer;
	&:hover {
			background-color: silver;
	}
	> div {
			display: table-cell;
			width: 100px;
			text-align: center;
			&:first-child {
					width: 95%;
			}
	}
}