.question-list-item {
  display: table;
  height: 5vh;
  line-height: 5vh;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
  > div {
    display: table-cell;
    border-top: 1px solid #000000;
    width: 100px;
    text-align: center;
    &:first-child {
        width: 95vw;
    }
  }
}