.write-answer {
  margin: 10px;
  text-align: center;
  > textarea {
    width: 30vw;
    height: 20vh;
    font-size: large;
    margin-top: 10px 0;
    outline-style: none;
    padding: 5px 8px;
  }
  > button {
    border: none;
    border-radius: 5px;
    margin: 30px 10px;
    color: #fff;
    font-size: 15px;
    background-color: #00cc00; 
    width: 100px;
    height: 35px;
    cursor: pointer;
  }
}